<footer>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-sm-4">
        <p><%= link_to image_tag("unm-transparent-white.png"), 'http://www.unm.edu/' %></p>
        <p>&copy;The University of New Mexico</p>
        <p>Albuquerque, NM 87131, (505)277-0111</p>
        <p>New Mexico's Flagship University</p>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
        <p>
          <%= link_to (fa_stacked_icon "facebook"), 'https://www.facebook.com/universityofnewmexico', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "instagram"), 'http://instagram.com/uofnm', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "twitter"), 'https://twitter.com/unm', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "tumblr"), 'http://uofnm.tumblr.com/', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "youtube"), 'http://www.youtube.com/user/unmlive', class: 'fa-icon' %>
        </p>
        <p>
          more at <%= link_to 'social.unm.edu', 'http://social.unm.edu' %>
        </p>
        <p>
          <%= link_to 'Website Comments ', 'http://www.unm.edu/website-comments.html' %>
          <%= link_to 'Accessibility', 'http://www.unm.edu/accessibility.html' %>
          <%= link_to 'Legal', 'http://www.unm.edu/legal.html' %>
          <%= link_to 'Contact UNM', 'http://www.unm.edu/contactunm.html' %>
          <%= link_to 'New Mexico Higher Education Dashboard', 'http://nmhedss2.state.nm.us/Dashboard/index.aspx?ID=21' %>
        </p>
      </div>
    </div>
  </div>
</footer>
