<footer>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-sm-4">
        <p><%= image_tag("unm-transparent-white.png") %></p>
        <p>&copy;The University of New Mexico</p>
        <p>Albuquerque, NM 87131, (505)277-0111</p>
        <p>New Mexico's Flagship University</p>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
        <p>
          <%= link_to (fa_stacked_icon "facebook"), 'https://www.facebook.com', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "instagram"), 'https://www.facebook.com', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "twitter"), 'https://www.facebook.com', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "tumblr"), 'https://www.facebook.com', class: 'fa-icon' %>
          <%= link_to (fa_stacked_icon "youtube"), 'https://www.facebook.com', class: 'fa-icon' %>
        </p>
        <p>
          more at <%= link_to 'social.unm.edu', 'http://social.unm.edu' %>
        </p>
        <p>
          <%= link_to 'Website Comments ', '#' %>
          <%= link_to 'Accessibility' %>
          <%= link_to 'Legal' %>
          <%= link_to 'Contact UNM' %>
          <%= link_to 'New Mexico Higher Education Dashboard' %>
        </p>
      </div>
    </div>
  </div>
</footer>
