<nav class="sitenav">
  <div class="sidebar-wrapper" id="horiz-nav">
    <div class="navbar-collapse collapse" id="horz-nav" role="navigation" tabindex="-1" aria-expanded="false">
      <ul class="nav sidebar-nav" role="menubar">
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Course Search', courses_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Administration', year_administrations_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Policies', year_policies_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Degrees Offered', year_degrees_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'General Information', year_general_informations_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Admissions', year_admissions_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Student Services Information', year_student_services_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'The Undergraduate Program', year_undergraduate_programs_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Undergraduate Academic Advisement', year_undergraduate_advisements_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'The Graduate Program', year_graduate_programs_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Colleges', year_colleges_path(@year) %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Extended Learning - Distance Education and Continuing Education', year_extended_learnings_path(@year) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
