<nav class="sitenav">
  <div class="sidebar-wrapper" id="horiz-nav">
    <div class="navbar-collapse collapse" id="horz-nav" role="navigation" tabindex="-1" aria-expanded="false">
      <ul class="nav sidebar-nav" role="menubar">
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Course Search', courses_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Administration', administrations_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Policies', policies_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Degrees Offered', 'http://degrees.unm.edu', target: 'blank' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'General Information', general_informations_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Admissions', admissions_path %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Student Services Information', '#' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'The Undergraduate Program', '#' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Undergraduate Academic Advisement', '#' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'The Graduate Program', '#' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Colleges', '#' %>
        </li>
        <li role="menuitem" tabindex="-1">
          <%= link_to 'Extended Learning - Distance Education and Continuing Education', '#' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
