<div class="prefooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-3">
            <h4>Academics</h4>
            <p><%= link_to 'Academic Calendars', 'http://unmevents.unm.edu/default.aspx?type=&view=Category&category=5-27&numdays=365' %></p>
            <p><%= link_to 'Class Schedule', 'http://schedule.unm.edu/' %></p>
            <p><%= link_to 'Colleges & Schools', 'http://www.unm.edu/academics/schools.html' %></p>
            <p><%= link_to 'Course Catalog', 'http://catalog.unm.edu/' %></p>
            <p><%= link_to 'Degrees & Certificates', 'http://degrees.unm.edu/' %></p>
            <p><%= link_to 'Graduate Studies', 'http://grad.unm.edu/' %></p>
          </div>
          <div class="col-sm-3">
            <h4>Campus Life</h4>
            <p><%= link_to 'Arts & Entertainment', 'http://www.unm.edu/arts/index.html' %></p>
            <p><%= link_to 'Athletics', 'http://www.golobos.com/' %></p>
            <p><%= link_to 'Diversity', 'http://diverse.unm.edu/' %></p>
            <p><%= link_to 'Recreational Services', 'http://recsvcs.unm.edu/' %></p>
            <p><%= link_to 'Student Activities', 'http://sac.unm.edu/' %></p>
            <p><%= link_to 'Student Union', 'http://sub.unm.edu/' %></p>
          </div>
          <div class="col-sm-3">
            <h4>Resources</h4>
            <p><%= link_to 'Bookstore', 'http://bookstore.unm.edu/' %></p>
            <p><%= link_to 'Computing', 'http://computing.unm.edu/' %></p>
            <p><%= link_to 'Continuing Education', 'http://ce.unm.edu/' %></p>
            <p><%= link_to 'Employment', 'http://unmjobs.unm.edu/' %></p>
            <p><%= link_to 'Libraries', 'http://www.unm.edu/libraries/' %></p>
            <p><%= link_to 'UNM Newsroom', 'http://news.unm.edu/' %></p>
          </div>
          <div class="col-sm-3">
            <h4>Information for...</h4>
            <p><%= link_to 'Alumni', 'http://www.unmalumni.com/' %></p>
            <p><%= link_to 'Faculty', 'http://www.unm.edu/facultyandstaff/' %></p>
            <p><%= link_to 'Parents & Families', 'http://parent.unm.edu/' %></p>
            <p><%= link_to 'Patients', 'http://hospitals.unm.edu/' %></p>
            <p><%= link_to 'Public Records - IPRA', 'http://publicrecords.unm.edu/' %></p>
            <p><%= link_to 'Staff', 'http://www.unm.edu/facultyandstaff/' %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 buttons">
        <p><%= link_to 'APPLY Now', '#', class: 'btn btn-default btn-lg' %></p>
        <p><%= link_to 'Request Info', '#', class: 'btn btn-default btn-lg' %></p>
        <p><%= link_to 'Visit UNM', '#', class: 'btn btn-default btn-lg' %></p>
      </div>
    </div>
  </div>
</div>
