<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "UNM Catalog | #{@page_title}" : "UNM Catalog" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-wrapper">

    <%= render 'layouts/header' %>

    <div class="inner-wrapper row">
      <div class="col-sm-2">
        <%= render 'layouts/nav' %>
      </div>
      <div class="col-sm-10">
        <%= render 'layouts/mini_header' %>
        <div class="row">
          <div class="main-body col-sm-9">
            <%= yield %>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/prefooter' %>
    <%= render 'layouts/footer' %>

  </div>

</body>
</html>
