<%= form_for(@policy) do |f| %>
  <% if @policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@policy.errors.count, "error") %> prohibited this policy from being saved:</h2>

      <ul>
      <% @policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_header %><br>
    <%= f.text_field :section_header, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :section_text %><br>
    <%= f.text_area :section_text, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :subsection_header %><br>
    <%= f.text_field :subsection_header, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :subsection_text %><br>
    <%= f.text_area :subsection_text, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :url_links %><br>
    <%= f.text_field :url_links, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
